.Enter-form-holder {
    position: relative;
    top: 10vh;
}

.Form {
    position: relative;
    z-index: 1;
    background-color: #ff7672;
    width: 35vw;
    border: 1px solid #ffb7b7;
    border-radius: 15px;
}

.Form-head {
    margin: 2vh;
    color: white;
    font: calc(15px + 2vh) serif;
    text-shadow: rgba(3, 0, 180, 0.67) 1px 0px 1px;
}

.Input-wo-error {
    background-color: #ffad7f;
    width: 70%;
    border: 1px solid;
    border-radius: 5px;
    margin: 0.5vh 0vh;
    padding: 1vh;
    text-align: center;
    font: calc(10px + 1vh) sans-serif;
    color: white;
    outline: none;
}

.Forgot {
    margin-top: -1.25vh;
    margin-bottom: 1vh;
    text-decoration: underline;
    color: #d5d5d5;
    padding: 0.5rem;
    box-sizing: border-box;
    transition-duration: 0.3s;
    cursor: pointer;
    font-size: calc(5px + 1vh);
}

.Forgot:hover {
    color: #656565
}

.Forgot-text {
    margin-top: -3vh;
    margin-bottom: 2vh;
    color: #ffffff;
    padding: 0.5rem;
    font-size: calc(10px + 2vh);
}
